<header class="bg-light py-3">
    <div class="px-4">
        <div class="row align-items-center">
            <div class="col-md-4">
                <span id="current-datetime" class="text-muted"></span>
            </div>
            <div class="col-md-4 text-center">
                <h1 class="h3 mb-0">Système de Gestion des Employés</h1>
            </div>
            <div class="col-md-4 text-end">
                <p class="mb-0">Réalisé par :</p>
                <p class="mb-0">Lilian Bouchard (boul6587)</p>
            </div>
        </div>
    </div>
</header>
