<!DOCTYPE html>
<html>
{% extends "partials/base.html" %}
{% block content %}
<style>
    .user-info {
        position: absolute;
        top: 80px;
        right: 20px;
        padding: 10px;
        font-size: 16px;
        text-align: right;
    }
</style>
<body>
    {% if user %}
        <div class="user-info">
            Logged in as {{ user.first_name }} {{ user.last_name }}<br>{{ user.email }}
            <br>
            <a href="{{ url_for('logout') }}">Log Out</a>
        </div>
    {% endif %}
    <h1>Book a Day Off</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        {{ form.date.label }} {{ form.date() }}
        {{ form.submit() }}
    </form>

    <h2>Booked Days</h2>
    <ul>
        {% for day in booked_days %}
            <li>{{ day }}</li>
        {% endfor %}
    </ul>
</body>
{% endblock %}
</html>
